body{
    margin-top: 50%;
}
.mee{
margin-top: 1%;
}
.no{
    margin: 20%;

}
.image{
    padding-top: 0%;
    margin-top: 2%;
}


.ch{
    width:200%;
   height: 100%;

}
body {
     min-height: 100vh; display: grid; place-items: center;
    margin: 0;
   
    }
    .bg{
        background-image: url(bg.svg);  
    }
    .title{
        /* font-size: 30px; */
        letter-spacing: 0.2em;
        font-weight: 600;
        text-transform: capitalize;
        text-transform: uppercase;
        font-size: 3rem;
    }
    span{
        color: rgba(226, 43, 223, 0.345);
    }
    .dan{
        background:hsl(0, 93%, 68%) ;
        position: absolute;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        top: 20px;
        right: 63%;
        transition: 0.5s;
        opacity: 0;

    }
    .dt{
        font-size: 12px;
        font-weight: 600;
        color: hsl(0,59%,72%);
        padding: 0.8em 2rem;
        transition: 0.5s;
        opacity: 0;
    }
    form{
        width: 100%;
        position: relative;
    }
    button{
        background: linear-gradient(135deg,hsl(0,80%,86%),hsl(0,74%,74%));
        height: 65px;
        border: none;
        
        outline: none;
        width: 90px;
       
        box-shadow: 0 10px 30px -5px hsl(0, 36%, 70%);
        cursor: pointer;
       
        
    }
    form  button{
        position: absolute;
        top: 200;
        right: 0;
        transform: translateY(-200%);
        border-radius: 30px;
        padding: 0.8rem 2rem;
        cursor: pointer;
       margin-left: 30%;
    

    }
    input::placeholder{
        color: hsl(0, 36%, 70%);
    }
    .button:active{
        background: linear-gradient(135deg,hsl(0,100%,96%),hsl(0,90%,84%));
    }
    